@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<h1>@ViewData["Title"]</h1>
<fast-design-system-provider use-defaults>
    <div class="row" style="background-color: #1B1B1B;">
        <div class="col-md-4">
            <section>
                <form id="account" method="post">
                    <h4>Use a local account to log in.</h4>
                    <hr />
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <fast-text-field asp-for="Input.Email" placeholder="email required"/>
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <fast-text-field placeholder="password" type="password" asp-for="Input.Password" required></fast-text-field>
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <div class="checkbox">
                            <fast-checkbox asp-for="Input.RememberMe">Remember me?</fast-checkbox>
                        </div>
                    </div>
                    <div class="form-group">
                        <fast-button href="#" appearance="accent" type="submit">Login</fast-button>
                    </div>
                    <div class="form-group">
                        <p>
                            <fast-anchor href="ForgotPassword" id="forgot-password" asp-page="./ForgotPassword" appearance="lightweight">Forgot your password?</fast-anchor>
                        </p>
                        <p>
                            <fast-anchor href="Register" asp-route-returnUrl="@Model.ReturnUrl" appearance="lightweight">Register as a new user</fast-anchor>
                        </p>
                        <p>
                            <fast-anchor id="resend-confirmation" href="ResendEmailConfirmation" appearance="lightweight">Resend email confirmation</fast-anchor>
                        </p>
                    </div>
                </form>
            </section>
        </div>
    </div>
</fast-design-system-provider>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script type="module" src="https://unpkg.com/@@microsoft/fast-components"></script>
}
