@inherits LayoutComponentBase

<div class="page">

    <div class="main">
        <div class="top-row px-4 auth charcoal">
            <span class="oi oi-menu"></span>
            <h3 class="main-title">CloudyMobile</h3>
            <LoginDisplay />
            <fast-anchor class="fast-anchor-both" appearance="lightweight" href="https://docs.microsoft.com/aspnet/" target="_blank">About</fast-anchor>
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>
