@inherits LayoutComponentBase

<div class="page">
    <Sidebar @ref="sidebar">
        <SidebarContent>
            <SidebarBrand>
                <div class="top-row">
                    <a href="" class="left">CloudyMobile</a>
                    <fast-anchor class="close-button" appearance="lightweight" @onclick="ToggleSidebar"><Icon Name="IconName.Times"/> </fast-anchor>
                </div>
            </SidebarBrand>
            <SidebarNavigation>
                <SidebarLabel>Main</SidebarLabel>
                <SidebarItem>
                    <SidebarLink To="" Title="Home">
                        <Icon Name="IconName.Home" Margin="Margin.Is3.FromRight" />Home
                    </SidebarLink>
                </SidebarItem>
                <SidebarItem>
                    <SidebarLink Toggled="(isOpen)=> mailSidebarSubItems.Toggle(isOpen)" IsShow="true">
                        <Icon Name="IconName.Mail" Margin="Margin.Is3.FromRight" />Email
                    </SidebarLink>
                    <SidebarSubItem @ref="mailSidebarSubItems" IsShow="true">
                        <SidebarItem>
                            <SidebarLink To="email/inbox">Inbox</SidebarLink>
                        </SidebarItem>
                        <SidebarItem>
                            <SidebarLink To="email/compose">Compose Email</SidebarLink>
                        </SidebarItem>
                        @* other subitems *@
                    </SidebarSubItem>
                </SidebarItem>
                <SidebarItem>
                    <SidebarLink Toggled="(isOpen)=> appsSidebarSubItems.Toggle(isOpen)" IsShow="true">
                        <Icon Name="IconName.Smartphone" Margin="Margin.Is3.FromRight" />Apps
                    </SidebarLink>
                    <SidebarSubItem @ref="appsSidebarSubItems" IsShow="true">
                        <SidebarItem>
                            <SidebarLink To="apps/todo">Todo List</SidebarLink>
                        </SidebarItem>
                    </SidebarSubItem>
                </SidebarItem>
            </SidebarNavigation>
        </SidebarContent>
    </Sidebar>

    <div class="main">
        <div class="top-row px-4 auth charcoal">
            <fast-anchor class="main-title" appearance="lightweight"><Icon Name="IconName.Bars" @onclick="ToggleSidebar" style="background-color: #181818;"/></fast-anchor>
            <LoginDisplay />
            <fast-anchor class="fast-anchor-both" appearance="lightweight" href="https://docs.microsoft.com/aspnet/" target="_blank">About</fast-anchor>
        </div>

        <div class="content px-4 main-body">
            @Body
        </div>
    </div>
</div>

@code{
    Sidebar sidebar;
    SidebarSubItem mailSidebarSubItems;
    SidebarSubItem appsSidebarSubItems;

    void ToggleSidebar()
    {
        sidebar.Toggle();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if(firstRender)
        {
            sidebar.Toggle();
            StateHasChanged();
        }
    }
}