@page "/recipes/add"
@using CloudyMobile.Blazor.Services
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@attribute [Authorize]
@* @inject RecipesService recipesService *@

<div class="cm-page-content">

    <CloudyInput placeholder="Type your name..." @bind-Value=Name />

    <p> Name: @Name</p>
</div>

@code{
    public string Name { get; set; }
}