@page "/recipes/add"
@using CloudyMobile.Blazor.Services
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@attribute [Authorize]
@inject RecipesService recipesService

<div class="cm-page-content">

    <div class="col">
        <CloudyInput placeholder="Recipe name" @bind-Value=recipe.Name />

        <CloudyInput placeholder="Recipe style" @bind-Value=recipe.Style />

        Ingredients
        Mass Units
        Liquid Units

        <CloudyNotes placeholder="Recipe notes..." @bind-Value="recipe.Notes" />

        <fast-button appearance="accent" class="cm-button">Add Recipe</fast-button>
    </div>
</div>

@code{

    public List<string> Styles { get; set; }

    private RecipeDto recipe;

    protected override async Task OnInitializedAsync()
    {
        Styles = new List<string>();
        recipe = new RecipeDto();

        var styles = await recipesService.GetBeerStyles();

        Styles = styles.Styles.ToList();
    }
}