@page "/recipes/add"
@using CloudyMobile.Blazor.Services
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@attribute [Authorize]
@inject RecipesService recipesService

<div class="cm-page-content">

    <div class="col">
        <div class="row">
            <h2 class="display-3 cm-heading">Add a new beer recipe</h2>
        </div>
        <div class="row">
            <CloudyInput placeholder="Recipe name" @bind-Value=recipe.Name />
        </div>

        <div class="row" style="width: 20rem">
            <SfAutoComplete TValue="string" TItem="BeerStyleDto" Placeholder="Style..." DataSource="@Styles">
                <AutoCompleteFieldSettings Value="Name"></AutoCompleteFieldSettings>
            </SfAutoComplete>
        </div>

        <div class="row">
            Ingredients
            Mass Units
            Liquid Units
        </div>

        <div class="row">
            <CloudyNotes placeholder="Recipe notes..." @bind-Value="recipe.Notes" />
        </div>

        <div class="row">
            <fast-button appearance="accent" class="cm-button">Add Recipe</fast-button>
        </div>
    </div>
</div>

@code{

    public List<BeerStyleDto> Styles { get; set; }

    private RecipeDto recipe;

    protected override async Task OnInitializedAsync()
    {
        Styles = new List<BeerStyleDto>();
        recipe = new RecipeDto();

        var styles = await recipesService.GetBeerStyles();

        Styles = styles.Styles.ToList();
    }
}