<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <fast-design-system-provider use-defaults>
        <div>
            @RenderBody()
        </div>
    </fast-design-system-provider>
    <script type="module" src="https://unpkg.com/@@microsoft/fast-components"></script>
</body>
</html>
